body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #111;
    color: white;
    padding: 15px;
    text-align: center;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 80%;
    height: 110px;
    object-fit: contain;
}